#blog-left .block p .dropcap {
    float: left;
    display: block;
    font-size: 50px;
    line-height: 52px;
    background-color: #4db2ec;
    color: #fff;
    text-align: center;
    margin: 9px 13px 0 0;
    padding: 3px 10px;
    font-family: Verdana,Geneva,sans-serif;
    text-transform: uppercase;
    min-width: 62px;
    min-height: 62px;
}

#blog-left .block p .dropcap3 {
    background-color: transparent !important;
    color: #4b4b4b;
    font-size: 60px;
    line-height: 42px;
    font-weight: 700;
    margin: 7px 9px 0 0;
}